<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="crater.css">

    <title>Crater</title>
</head>
<body>
    <header id="header">
    <h1>Lake Size</h1>
   
    
    {% if size is not none %}
        <p>Size (Square meter): {{ size }} </p>
    {% endif %}

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
        <button type="submit">Upload</button>
    </form>
    </header>
    
</body>
</html>
